.godot/
bin/
obj/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
