[defaults]
inventory = ./inventory
roles_path = ./roles
collections_paths = ./collections
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent

[winrm]
read_timeout_sec = 90
operation_timeout_sec = 60
